# Folders
.gradle/
.idea/
.settings/
build/
out/
userHome/

# Files
.classpath
.project
*.iml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# JEnv Java Version
.java-version

# Gradle wrapper in test projects
/test-project*/gradlew*
/test-project*/gradle/wrapper/*
